<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Righteous|Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Dream Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/home.js"></script>
		<script src="/assets/js/burgers.js"></script>
		<script src="/assets/js/chefs.js"></script>
	</head>
	<body>
		<div class="row">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/">Our Menu</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/create">Create a Burger</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/chefs">Chefs</a>
      </div>
    </div>
		<h1>DREAM BURGER!</h1>
		{{{ body }}}
		
	<footer>
		<div class="container">
			<span>||</span>
			<a href="/api/burgers"><img src="../assets/images/bargar_icon.png" alt="Github" height="42" align="middle">Burgers in the API</a>
			<span>||</span>
			<a href="https://github.com/AlexKrumins/sequelized_Burger_Dream"> <img src="../assets/images/GitHub-Mark.png" alt="Github" height="42" align="middle">GitHub Repository</a>
			<span>||</span>
		</div>
	</footer>

	</body>
</html>
