{{#unless burgers}}
<h2>Unfortunately, there are no burgers on this page of the Menu</h2>
<br>
<h2>However, you can <a href="/chefs">click here to hire a chef</a></h2>
<h2>or you can <a href="/create">click here to create a burger</a></h2>
{{else}}
<div class="col-5" id="leftburgers">
  <h2>Burgers that are ready to be devoured!</h2>

  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block}}
      {{/unless}}   
    {{/each}}
  </ul>
</div>

<div class="col-5" id="rightburgers">
  
  <h2>{{chefs}}Burgers that have been devoured!</h2>

  <ul>
    {{#each burgers}}
      {{#if devoured}}
        {{> burgers/burger-block}}
      {{/if}}
    {{/each}}
  </ul>

</div>
{{/unless}}