<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="author-container">
      <h2>Chefs</h2>
      <table class="shadow table table-striped table-dark table-hover">
        
        <thead>
          <tr>
            <th>Name</th>
            <th>Personnel ID No.</th>
            <th>See Chefs's Creations</th>
            <th>New Burger</th>
            <th>Delete Chef</th>
          </tr>
        </thead>

        <tbody>
          
          {{#if chefs}}
            {{#each chefs}}
              {{> chefs/chef-block}}
            {{/each}}
          {{else}}
            <br>
            <div class="shadow alert alert-danger">
              You must <a href="/chefs">create a Chef </a>before adding Burgers to the Menu.
            </div>
            <br>
          {{/if}}

          <tr id="form-row">
            <form class="chef-form">
              <td colspan="4">
                <input placeholder="Enter a name" id="chef-name" type="text">
              </td>
              <td><button type="submit" class="btn btn-success">Create Chef</button>
              </td>
            </form>
          </tr>

        </tbody>

      </table>
    </div>
  </div>
</div>