<form class="create-form">
<h2>Add a Dream Burger of your very own!</h2>

  <div class="form-group">
    <label for="bk">Burger Name:</label>
    <input class="col-4" type="text" id="bk" name="burger_name">
  </div>
  
  <div class="form-group">
    <label for="chefSelect">Select Chef:</label>
    <select class="custom-select col-4" id="chef">
      {{#each chefs}}
        {{> chefs/chef-select}}
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="eat">Immediately Devour this Burger?</label><br>
    <input type="radio" name="eat" value="0" checked> Save it.
    <input type="radio" name="eat" value="1"> EAT IT!<br>
  </div>

  <button type="submit">Add to the Menu</button>
</form>
