<form class="create-form">
<h2>Add a Dream Burger of your very own!</h2>
  
{{#unless chefs}}
<br>
  <div class="col-md-8 offset-md-2">
    <div class="author-container">
      <table class="table table-striped table-dark table-hover">
        <tbody>
          <div class="shadow alert alert-danger">
            You must create a Chef before adding Burgers to the Menu.
          </div>
        </tbody>
      </table>
    </div>
  </div>
{{/unless}}

  <div class="form-group">
    <input class="col-4" type="text" id="bk" name="burger_name" placeholder="Name your Burger">
  </div>
  
  <div class="form-group">
    <select class="custom-select col-4" id="chef">
      <option value="0">Select a Chef</option>
      {{#each chefs}}
        {{> chefs/chef-select}}
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="eat">Immediately Devour this Burger?</label><br>
    <input type="radio" name="eat" value="0" checked> Save it.
    <input type="radio" name="eat" value="1"> EAT IT!<br>
  </div>

  <button type="submit">Add to the Menu</button>
</form>
