<li class="container-fluid">
	{{burger_name}}
<br>
	<button class="change-devour btn btn-outline-warning" data-id="{{id}}" data-changestate="{{devourIt}}">
		{{#if devourIt}}EAT THIS BURGER!{{else}}Dream this Burger back into Existence!{{/if}}
	</button>

</li>
 